.camera {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.frame {
    width: min(100vw, calc(100vh * 3 / 4));
    height: calc(min(100vw, calc(100vh * 3 / 4)) * 4 / 3);
    canvas {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

