.card {
    background: var(--background);
    border-radius: 24px;
    padding: 24px;
    text-align: center;
    animation: fadeUp 0.4s ease;
    border-top: 1px solid #000;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    margin: 10px 0 15px;
    font-size: 20px;
    font-weight: bold;
}

.preview {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
}

.preview img {
    width: 100%;
    display: block;
}

.message {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.primary,
.secondary {
    color: var(--background);
    padding: 12px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid var(--grayColor);
}

.primary {
    background: var(--brandColor);
}

.secondary {
    background: var(--subColor);
}