/* 下部カード */
.card {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 24px 24px 0 0;
    animation: slideUp 0.4s ease;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.subtitle {
    font-size: 13px;
    color: #888;
    margin-bottom: 12px;
}

.text {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 16px;
}

.backBtn {
    display: block;
    margin: 40px auto;
    border-top: 1.5px solid var(--grayColor);
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    background: var(--subColor);
    color: var(--foreground);
    font-size: 20px;
    font-weight: bold;

}


/* アニメーション */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -8px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}