:root {
  --background: #F8F6F2;
  --foreground: #333333;
  --brandColor: #F2C1C3;
  --mainColor: #274A78;
  --subColor: #A8CFA7;
  --grayColor: #888888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F6F2;
    --foreground: #333333;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-zen-maru), sans-serif;
  width: 100%;
  max-width: 100vw;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}