.content {
    margin: 0 25px;

    h1 {
        margin-top: 170px;
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 20px;
        margin-top: 45px;
        gap: 40px;

        .arBtn {
            position: relative;
            padding: 20px;
            font-size: 34px;
            box-shadow: 0 0 15px 4px var(--subColor);
            border-radius: 50px;
            font-weight: bold;
            line-height: 41px;

        }

        .arBtn::before {
            content: "";
            display: inline-block;
            background-image: url(/assets/scan.svg);
            height: 45px;
            width: 29px;
            left: 40px;
            background-position: center;
            background-size: contain;
            position: absolute;
        }

        .howtoBtn {
            padding: 6px;
            font-size: 22px;
            color: var(--background);
            background: var(--brandColor);
            border-radius: 50px;
            font-weight: bold;
            line-height: 28px;
            box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.4);
        }
    }

    footer {
        position: fixed;
        display: flex;
        text-align: center;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: var(--mainColor);

        .footerBtn {
            display: flex;
            flex-direction: column;
            margin: -40px auto;
            width: 80px;
            height: 80px;
            border-radius: 50px;
            background: var(--grayColor);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
            img{
                margin-top: 10px;
            }
        }

        a {
            font-size: 15px;
            font-weight: bold;
            color: var(--background);
        }
    }
}